* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: #333333;
}

.head_contain {
    margin-top: 10px;
    overflow: hidden;
}

.header {
    width: 97%;
    margin-left: 1.2rem;
    padding: 1.2rem;
    background-color: #444444;
    border-radius: 10px;
    outline: none;
    resize: none;
}


.container {
    display: grid;
    grid-template-columns: 1fr 7% 1fr;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

.large-area {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #aaaaaa;
    background-color: #444444;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-family: monospace;
    transition: background 0.25s, color 0.25s;
}

.large-area:hover,
.large-area:focus {
    background: #4a4a4a;
}

.large-area:focus {
    color: #eeeeee;
}

.controls_button {
    padding: 0.5vw 0.875vw;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #009578;
    color: #eeeeee;
    font-weight: bold;
    overflow: hidden;
    font-size: 1.2vw;
}

.controls_button:active {
    background: #02614e;
}